.middle {
    height: 2300px;
}
.nav ul {
    height: 33px;
}
.nav li {
    float: left;
    margin-left: 42px;
}
.nav a {
    display: block;
    line-height: 33px;
    color: white;
    font-size: 16px;
}
/*轮播控件*/


.carousel {
    height: 342px;
    width: 990px;
    overflow: hidden;
    position: relative;
}
.carousel_scroll_wrap{
    position: relative;
    height: 342px;
    width: 990px;
    overflow: visible;
}

.carousel_content{
    height: 342px;
}

.carousel_content >div, .carousel_content img{
    float: left;
    width: 990px;
    height: 342px;
}

.carousel_info{
    width: 990px;
    height: 80px;
    position: absolute;
    top: 258px;
}

.carousel_info > div{
    height: 80px;
    float: left;
}

.carousel_left, .carousel_right{
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.carousel_left{
    background: url(../../images/index/banner_btn.png) no-repeat center;
}

.carousel_right{
    background: url(../../images/index/banner_right.png) no-repeat center;
}

.carousel_mid{
    width: 70%;
    background-color: rgba(0,0,0,0.65);
    filter:alpha(opacity=65);

}
.carousel_mid >div{
    margin-left: 30px;
}

.carousel_mid >div:first-child{
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel_mid>div:first-child a{
    color: #dfc902;
    font-size: 14px;

}

.carousel_mid>div:last-child{
    color: white;
}

.middle_main {
    width: 990px;
    min-height: 400px;
    margin-top: 7px;
}
.middle_left {
    width: 635px;
    float: left;
    margin-right: 10px;
}
.middle_right {
    width: 345px;
    float: left;
}
.block_style {
    background-color: #ecf0f1;
    border: 1px solid #b2b2b2;
    border-radius: 2px;
}
.nav_fast {
    width: 100%;
    height: 355px;
}
/**快速导航样式*/

.nav_fast {
    font-size: 18px;
    border-top: none;
}
.nav_fast ul {
    margin-left: 28px;
    margin-top: 20px;
    line-height: 30px;
}
.nav_fast a {
    color: #515151;
}
.nav_fast >div {
    float: left;
    height: 355px;
    width: 211px;
}
.nav_fast_title {
    height: 38px;
    margin-right: 2px;
    line-height: 36px;
    padding-left: 10px;
}
.nav_fast >div:nth-child(3) .nav_fast_title {
    margin-right: -2px;
}
.nav_fast >div:nth-child(1) .nav_fast_title {
    background-color: #27ae61;
}
.nav_fast >div:nth-child(2) .nav_fast_title {
    background-color: #3598db;
}
.nav_fast >div:nth-child(3) .nav_fast_title {
    background-color: #9b58b5;
}
.nav_fast >div >div:first-child {
    float: right;
    width: 3px;
    height: 355px;
    position: relative;
    top: 46px;
    left: 1px;
    background: url(../../images/index/fast_line.png) no-repeat;
}
.nav_fast >div:last-child >div:first-child {
    display: none;
}
/**招聘日历样式**/

.rec_clendar {
    height: 207px;
    margin-top: 13px;
    padding: 0 10px;
}
.rec_clendar_title {
    height: 30px;
    text-align: right;
    border-bottom: 1px solid black;
}
.rec_clendar_title div {
    float: left;
    font-size: 18px;
    font-weight: bold;
}

.rec_clendar_title a{
    color: #b2b2b2;
}

.rec_clendar_info, .rec_clendar_info a {
    font-size: 14px;
    color: white;
}
.rec_clendar_info > div {
    float: left;
    width: 115px;
    height: 176px;
    margin-right: 7px;
}
.rec_clendar_info > div > div {
    height: 77px;
    margin-bottom: 5px;
}
.rec_clendar_info >div >div:nth-child(1) {
    margin-top: 10px;
}
/**招聘日历色块颜色**/

.rec_clendar_info >div:nth-child(1)>div:nth-child(1) {
    background-color: #1bbc9b;
}
.rec_clendar_info >div:nth-child(1)>div:nth-child(2) {
    background-color: #16a086;
}
.rec_clendar_info >div:nth-child(2)>div:nth-child(1) {
    background-color: #2dcc70;
}
.rec_clendar_info >div:nth-child(2)>div:nth-child(2) {
    background-color: #27ae61;
}
.rec_clendar_info >div:nth-child(3)>div:nth-child(1) {
    background-color: #3598db;
}
.rec_clendar_info >div:nth-child(3)>div:nth-child(2) {
    background-color: #297fb8;
}
.rec_clendar_info >div:nth-child(4)>div:nth-child(1) {
    background-color: #9b58b5;
}
.rec_clendar_info >div:nth-child(4)>div:nth-child(2) {
    background-color: #8f44ad;
}
.rec_clendar_info >div:nth-child(5)>div:nth-child(1) {
    background-color: #34495e;
}
.rec_clendar_info >div:nth-child(5)>div:nth-child(2) {
    background-color: #2d3e50;
}
.rec_clendar_info div {
    text-align: center;
}
.rec_clendar_info >div>div:last-child a {
    display: block;
    padding-top: 17px;
}
.rec_clendar_info>div>div>div:nth-child(1) {
    height: 20px;
}
/**日期头部白色色块**/

.rec_clendar_info >div>div>div>div:first-child {
    float: left;
    height: 10px;
    width: 16px;
    margin-left: 20px;
    background-color: #ecf0f1;
}
.rec_clendar_info >div>div>div>div:last-child {
    float: right;
    height: 10px;
    width: 16px;
    margin-right: 20px;
    background-color: #ecf0f1;
}
/******栏目信息列表块样式**********/
.category_list {
    height: 430px;
    background-color: #ecf0f1;
    position: relative;
    top: -7px;
    border-bottom: solid 1px #b2b2b2;
    border-left: solid 1px #b2b2b2;
    border-right: solid 1px #b2b2b2;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.category_list li {
    padding-bottom: 5px;
    margin: 0 7px;
    margin-top: 10px;
    border-bottom: 1px dashed #b2b2b2;
}
.category_list li:nth-child(1) {
    margin-top: 0px;
    padding-top: 10px;
}
.category_list li a {
    color: black;
    font-weight: bolder;
    font-size: 16px;
}
.category_list li span {
    font-size: 16px;
    color: #b2b2b2;
}
.category_list li>div {
    margin: 0 5px;
    overflow: hidden;
}
.category_list li>div:first-child {
    height: 30px;
    text-align: right;
}
.category_list li>div:last-child {
    color: #7c7c7c;
}
.category_list li>div:first-child>div {
    float: left;
    font-weight: bolder;
}

.category_list ul{
    display: none;
}

.category_list ul:nth-child(1){
    display: block;
}
.category_nav{
    width: 635px;
    background-color: #34495e;
}

.category_info, .category_info2 {
    margin-top: 5px;
    height: 470px;
}
.category_nav, .category_nav2 {
    height: 40px;
}
.category_nav li, .category_nav2 li {
    float: left;
}
.category_nav2 {
    background-color: #34495e;
}
.category_nav2 a {
    display: block;
    font-size: 17px;
    color: white;
    height: 40px;
    line-height: 36px;
    padding: 0 14px;
    overflow: hidden;
}
.category_nav2 li:first-child a {
    padding-left: 25px;
}

.category_info .category_list ul>div{
    text-align: right;
    font-size: 16px;
    color: #b2b2b2;
    height: 30px;
}

.category_info .category_list ul>div a{
    line-height: 30px;
    margin-right: 10px;
    font-size: 16px;
    color: #b2b2b2;
}

.category_info .category_list li{
    margin-top: 7px;
}


.category_nav2_active {
    background: url(../../images/index/bottom_bg.png)  no-repeat  ;
    background-position: center 25px;
    background-color: #5d6d7d;
}
.category_nav2_normal{
    background: none;
}

.category_nav a {
    display: block;
    font-size: 17px;
    height: 40px;
    padding-top: 5px;
}

.category_nav ul>li:nth-child(1) a{
    padding-left: 12px;
    padding-right: 12px;

}
.category_nav ul>li:nth-child(2) a{
    padding-left: 12px;
    padding-right: 12px;

}
.category_nav ul>li:nth-child(3) a{
    padding-left: 12px;
    padding-right: 12px;

}
.category_nav ul>li:nth-child(4) a{
    padding-left: 12px;
    padding-right: 12px;

}
.category_nav ul>li:nth-child(5) a{
    padding-left: 10px;
    padding-right: 10px;

}
.category_nav ul>li:nth-child(6) a{
    padding-left: 12px;
    padding-right: 21px;
}


.category_nav_normal{
    background-color: #34495e;
    color: white;
}
.category_nav_active{
    background-color: #ecf0f1;
    color: black;
}


.category_nav li:first-child a {
    margin-left: 0px;
}

/****焦点图*****/

.focus_map {
    margin-top: 11px;
    height: 98px;
}

/****渤海轻工业集团*****/
.bohai_info{
    margin-top: 10px;
    height: 283px;
    padding: 5px 10px;
}

.bohai_info >div:first-child{
    font-size: 18px;
    font-weight: bold;
    height: 29px;
    border-bottom: 1px solid black;
    text-align: right;
}

.bohai_info >div:first-child a{
    color: #b2b2b2;
}

.bohai_info >div:first-child >div{
    float: left;
}

.bohai_info >div:nth-child(2){
    margin-top: 3px;
    text-align: center;
}

.bohai_info >div:nth-child(2) img{
    height: 211px;
    width: 49%;
    float: left;
    margin-left:4px;

}


.bohai_info >div:nth-child(3){
    height: 33px;
    width: 110%;
}
.bohai_info >div:nth-child(3) >div{
    width: 303px;
    float: left;
    text-align:  center;
    background-color: #34495e;
    font-size: 16px;
    color: white;
    height: 33px;
    line-height: 33px;
}

.bohai_info >div:nth-child(3)>div:first-child{
 margin-left: 3px;
}

/*****右侧样式******/
.middle_right >div{
    width: 345px;
}

.right_top{
    height: 508px;
    margin-bottom: 11px;
}

.right_top >div:first-child{
    height: 38px;
    padding-left: 59px;
    background-color: #34495e;
}
.right_top>div:first-child div{
    float: left;
    text-align: center;
    color: white;
    height: 38px;
    line-height: 38px;
    width: 113px;
    font-size: 18px;
    cursor: pointer;
}

.right_top ul{
    padding: 0 20px;
}

.right_top ul:last-child{
    display: none;
}



.right_top li{
    padding: 0 10px;
    border-bottom: 1px dashed #b2b2b2;
    padding-bottom: 5px;
}

.right_top ul> div{
    margin-top: 5px;
    border-bottom: none;
    text-align: right;
}

.right_top ul> div a{
    color: #b2b2b2;
}

.right_top li div:first-child a{
    display: block;
    margin-top: 7px;
    color: #fe0000;
    font-size: 14px;
}

.right_top li div:nth-child(2){
    color: #b2b2b2;
    font-size: 12px;
}

.right_top li div:nth-child(3){
    color: #7c7c7c;
    font-size: 13px;
}

.right_map{
    height: 413px;
    margin-bottom: 20px;
}
.right_mid{
    height: 340px;
    margin-bottom: 2px;
}

.right_feedback{
    height: 640px;
}

.right_map >div{
    margin: 0 16px;
    margin-top: 8px;
}
.right_map>div:first-child{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
}
#baidu_map{
    height: 340px;
}

.right_mid>div:nth-child(1){
    background: url(../../images/index/mid1.png) no-repeat center;
    height: 80px;
}

.right_mid>div:nth-child(2){
    height: 40px;
}
.right_mid>div:nth-child(2)>div{
    text-align: center;
    line-height: 40px;
    color: white;
    float: left;
    height: 40px;
    width: 101px;
    font-size: 16px;
    margin-left:47px;
    cursor: pointer;
}

.right_mid>div:nth-child(2)>div:first-child{
    background: url(../../images/index/m21.png) no-repeat center;
}
.right_mid>div:nth-child(2)>div:last-child{
    background: url(../../images/index/m22.png) no-repeat center;
}

.right_mid>div:nth-child(3) a, .right_mid>div:nth-child(4) a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-left: 35px;
}

.right_mid>div:nth-child(3){
    margin-top: 7px;
    line-height: 35px;
    height: 40px;
    margin-left: 47px;
   background: url(../../images/index/m31.png) no-repeat ; 
}

.right_mid>div:nth-child(4){
    line-height: 35px;
    height: 40px;
    margin-left: 47px;
   background: url(../../images/index/m32.png) no-repeat ; 
}


.right_mid>div:nth-child(5) a{
     color: white;
    font-size: 22px;  
}

.right_mid>div:nth-child(5)>div img{
    width: 345px;
    height: 50px;
}

.right_mid>div:nth-child(5)>div{
    width: 345px;
    line-height: 35px;
    height: 50px;
}

.right_feedback >div{
    margin: 0 16px;
    height: 40px;
}
.right_feedback >div:first-child{
    margin-top: 6px;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    height: 30px;
}

.right_feedback >div:nth-child(2){
    margin-top: 10px;
}


.right_feedback >div>div:first-child{
    float: left;
    font-size: 18px;
    line-height: 30px;
}

.right_feedback >div span{
    font-size: 14px;
    line-height: 24px;
    margin-left: 24px;
}

.right_feedback >div:nth-child(6){
    height: 340px;
}

.right_feedback >div:last-child{
    height: 35px;
    width: 116px;
    margin: 0 auto;
    background: url(../../images/index/feedback_btn.png) no-repeat; 
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.right_feedback textarea{
    height: 300px;
    width: 300px;
    font-size: 16px;
    border:1px solid #b2b2b2;
    padding-top: 10px;
    padding-left: 10px;
    overflow: auto;
}

.star{
    height: 23px;
    width: 22px;
    float: left;
    margin-left: 5px;
    background-position: 0 3px;

}

.star_on{
    background: url(../../images/index/star_on.png) no-repeat;
}
.star_off{
    background: url(../../images/index/star_off.png) no-repeat;
}


/*****下拉菜单样式****/
.nav li{
    position:  relative;
    text-align: center;
}

.drop_down{
    width: 120px;
    position: absolute;
    z-index: 9999;
    margin-top: 23px;
    display: none;
    background-color: #3598db;
    top: 10px;
}

.drop{
    position: relative;
}













