*{
    margin: 0px;
    padding: 0px;
}
.middle{
    width: 100%;
    height: 598px;
    background-color: #ecf1f0;
}
p{
    color: gray;
}
/*
*首页、招聘信息
*/
.middle_top{
    width: 994px;
    height: 33px;
    background-color: #3499da;
}
.middle_top p{
    margin-left: 20px;
    line-height: 33px;
    color: white;
    font-size: 14px;
}
.middle_top a{
    color: white;
    font-size: 14px;
}
/*
*第一个招聘信息
*/
.middle_content_first{
    width: 100%;
    height: 146px;
}
.middle_content_first h1{
   padding-top: 30px;
    padding-left: 25px;
    color: red;
    font-size: 18px;
}
.content_time{
    float: right;
   margin-top: -27px;
    margin-right: 376px;
    font-size: 14px;
    font-weight: bold;
}
.middle_content_first .content{
    width: 645px;
    height: 100px;
    padding-left: 20px;
    font-size: 12px;
    color: gray;
}
.bottom{
    padding-bottom: 17px;
    border-bottom:1px dashed gray;
}
.zhaopianshijian{
    height: 20px;
    margin-top: 10px;
    padding-left: 33px;
    background-image: url("../../images/corpinternmsg/zhaopinTime.png");
    background-repeat: no-repeat;
}
.zhaopinchaokan{
    float: right;
    margin-right: 442px;
    background-image: url("../../images/corpinternmsg/looks.png");
    background-repeat: no-repeat;
    margin-top: -17px;
}
.zhaopinchaokan p{
     padding-left: 40px;
 }
.zhaopinzhuanfa{
    float: right;
    width: 20px;
    height: 16px;
    margin-right: 342px;
    background-image: url("../../images/corpinternmsg/share.png");
    background-repeat: no-repeat;
    margin-top: -17px;
}
.zhaopinzhuanfa p{
    padding-left: 32px;
}
.chaxunxiqing{
    float: right;
    margin-top: -17px;
    padding-right: 126px;

}
.chaxunxiqing a{
    color: gray;
}
/*
*第2个招聘信息以及以后的
*/
.middle_content_two{


}
.middle_content_two .content{
    width: 645px;
    padding-left: 20px;
    font-size: 12px;
    color: gray;
}
.middle_content_two h1{
    font-size: 18px;
    padding-top: 8px;
    padding-left: 20px;
}
/*
*推荐招聘
*/
#tuijianzhaopin{
    width: 301px;
    height: 500px;
    background-color: white;
    position:absolute;
    left: 855px;
    top:300px;

}
#tuijianzhaopin #top{
    width: 100%;
    height: 40px;
    background-color: #344a5d;
}
#top p {
    margin-left: 20px;
    color: white;
    font-size: 20px;
    line-height: 40px;
}
#tuijianzhaopin #content{
    margin-left: 10px;
    margin-right: 10px;
    width: 268px;
    height: 124px;
    float: right;
    border-bottom:1px dashed #334455 ;
}
#tuijianzhaopin #content #img1{
    display: block;
    margin-top: 20px;
}
#tuijianzhaopin #content #img2{
    display: block;
}
#tuijianzhaopin #title{

    margin-left: 123px;
    margin-top: -50px;
}
#tuijianzhaopin #time{
    margin-left: 123px;
    margin-top: 10px;
}

#tuijianzhaopin #address{
    margin-left: 123px;
    margin-top: 50px;
}
#tuijianzhaopin .rili_left{
    margin-top: 20px;
    width: 86px;
    height: 84px;
    background-image: url("../../images/corpinternmsg/riliXia1.png");
}
.rili_left_top{
    width: 86px;
    height:39px;
    float: left;
    background-image: url("../../images/corpinternmsg/riliShang1.png");
}
.rili_left_top_shang{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 10px;
}
.rili_left_top_xia{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 14px;
}
.detail_right{
    margin-top: -90px;
    width: 166px;
    height: 94px;
    float: right;
}
.detail_right .time{
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    background-image: url("../../images/corpinternmsg/rilixia.png");
    background-repeat: no-repeat;
}
.detail_right .address{
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    background-image: url("../../images/corpinternmsg/address.png");
    background-repeat: no-repeat;
}
.address_content {
    margin-left: 34px;
}
.time_content{
    margin-left: 34px;
}
.detail_right img{
    margin-top: 10px;
}
.rili_left_top p{
    font-weight: bold;
    color: #000000;
}
.rili_left_top_xia{
    margin-left: -5px;
}
.detail_right .name{
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
}
/*
*底部分页
*/
#fenye{
    height: 150px;
}
#fenye_left{
    width: 36px;
    height: 36px;
    margin-top: 86px;
    margin-left: 26px;
    background-repeat: no-repeat;
    background-image: url("../../images/corpinternmsg/fenye_left.png");
}
#fenye_middle{
    margin-left: 64px;
    margin-top: -36px;
    width: 525px;
    height: 36px;
    background-repeat: no-repeat;
    background-image: url("../../images/corpinternmsg/fenye_bg.png");
}
#fenye_right{
    width: 36px;
    height: 36px;
    margin-left: 591px;
    margin-top: -36px;
    background-repeat: no-repeat;
    background-image: url("../../images/corpinternmsg/fenye_right.png");
}
.fenye_middle_tuoyuan{
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url("../../images/corpinternmsg/fenye_tuoyuan.png");
}
.fenye_middle_tuoyuan_nowPage{
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url("../../images/corpinternmsg/tuoyuan_nowpage.png");
}
.fenye_middle_tuoyuan_nowPage p{
    line-height: 22px;
    padding-left: 8px;
    color: white;
}
.fenye_middle_tuoyuan2{
    margin-left: 9px;
    margin-top: 5px;
    float: left;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url("../../images/corpinternmsg/fenye_tuoyuan.png");
}
.fenye_middle_tuoyuan p{
    line-height: 22px;
    padding-left: 8px;
}
.fenye_middle_tuoyuan2 p{
    line-height: 22px;
    padding-left: 6px;
}
