@charset "utf-8";
/* CSS Document */
/*---------------middle--------------------------*/

#middle{width:1000px;min-height:860px;height:auto;	margin:0 auto;	padding:0 95px;}
/*middle color*/
.middle-color-blue{color:#788ac6;}
.middle-color-red{color:#788ac6;}
.middle-color-green{color:#788ac6;}
.middle-color-orange{color:#788ac6;}
.zan-background-green{background:#788ac6;}
.zan-background-blue{background:#788ac6;}
.zan-background-red{background:#788ac6;}
/*middle color end*/
/* 左侧  start */
#middle_left{width:700px;height:auto;float:right;display:block;padding:10px;	}

/*标题以及收藏按钮*/
.m-l-header{width:700px;margin:10px 0;/*border-bottom:1px solid #666666;*/}
.m-l-header-left{float:left;width:600px;}
.m-l-header-right{float:left;width:100px;padding:5px 0;}
.note-title{text-align:left;width:600px;/*background-color:blue;*/line-height:30px;
			font-size:20px;font-weight:500;display:block;padding-bottom:10px;
}
.note-attr{text-align: left;width:600px;/*background-color:green;*/	line-height:20px;font-size:13px;font-weight:500;color:#b8b8b8;}
.collect-btn{height:30px;font-size:13px;padding:5px 15px;background:#788ac6;color:#ffffff;cursor:pointer;margin-top:5px;}
.collect-btn:hover{background:#788ac6;}
/*标题以及收藏按钮*/

/*一些属性*/
.m-l-attr{width:700px;padding-bottom:15px;}
.m-l-attr li{line-height:25px;font-size:15px;color:#666666; width:350px;maring-right:10px;height:25px;float:left;}
.m-l-attr li>a{line-height:25px;font-size:15px;color:#666666; }
/*一些属性*/

/*职位*/
.m-l-office{width:700px;padding-bottom:15px;}
.m-l-office-header{height:25px;font-size:16px;line-height:25px;color:#446976;font-weight: bold;padding:5px 0;}
.m-l-office-main{}
.office-name{font-size: 14px;color: #585858;line-height: 30px;font-family: 黑体;}
.office-intro{font-size:14px;line-height:22px;color:#585858;margin-bottom:10px;}
/*职位*/

/*说明*/
.m-l-content{width:700px;padding-bottom:15px; font-size:14px;color:#585858;line-height:30px;margin-top:10px;}
.m-l-content-header{height:25px;font-size:16px;line-height:25px;color:#446976;font-weight: bold;padding:5px 0;}
.m-l-content p, .m-l-content span{font-size:14px;color:#585858;line-height:30px;}
/*说明*/


/*图片*/
#middle_img{margin:15px;text-align: center;	width:300px;overflow: hidden;float:right;clear:both;	/*background-color:green;*/}
#middle_img img{	max-width:300px;}
/*图片*/


/*收藏和赞*/
.m-l-other{width:700px;margin-top:10px;border-bottom: gray double 1px;}
.m-l-other p{text-indent:2em;color:#585858;font-size:14px;	line-height:30px;}
/*收藏和赞*/

/*上一条和下一条*/
.m-l-footer{margin-top:15px;}
.m-l-footer p{color:#585858;font-size:11px;line-height:30px;}
.m-l-footer p a{color:#585858;font-size:11px;line-height:30px;}
/*上一条和下一条*/

/* 左侧end */


/*收藏确认表单start*/
.collect-confirm{ 
	display:none; width:400px;  position:absolute; top:200px; left:50%;
	margin-left:-200px;border: #d9d9d9 1px solid;border-top:#802358 2px solid;background: #FFF;
	box-shadow: 2px 2px 2px #000;
}
.collect-confirm-header{border-bottom: #d9d9d9 1px solid;height:25px;width:400px;}
.collect-confirm-header-left{height:25px;width:340px;float:left;padding-left:10px;line-height:25px;font-size:14px;}
.collect-confirm-header-right{height:25px;width:50px;float:right;line-height:25px;font-size:14px;}
.collect-confirm-header-right a{ color:#802358; font-size:14px; }
.collect-confirm-main{padding:10px;width:380px;font-size:14px;}
.collect-confirm-main-item{width:360px;font-size:14px;margin:10px;}
.collect-confirm-main-title{display:inline-block;width:100px;text-align:right;font-size:14px;}
.collect-confirm-main-info{display:inline-block;width:220px;text-align:left;font-size:14px;}
.confirm-btn{height:30px;font-size:13px;padding:5px 15px;background:#788ac6;color:#ffffff;cursor:pointer;margin-top:5px;}
.confirm-btn:hover{background:#788ac6;}
/*收藏确认表单end*/


