

#middle{min-height: 845px;}
/*
*首页、中心简历
*/
.middle_top{width: 994px;height: 33px;background-color: #3499da;}
.middle_top p{margin-left: 20px;line-height: 33px;color: white;font-size: 18px;}
.middle_top a{color: white;font-size: 18px;}
/*
*中间  左部
*/
#middle_left{margin-top: 7px; width: 260px; min-height: 874px;background-color: #ecf1f0;float: left;}
#middle_left  #title{margin: 12px 11px 0;width: 239px;height: 26px;border-bottom:1px solid gray;}
#middle_left  #title p{padding-left: 10px;margin-top: -9px;font-size: 20px;}

.myinfo-title-right{width:53px;float:right;display:block;height:27px;background:url(../../../../common/app/images/company/button.png);text-align: center;}
.myinfo-title-right:hover{background:url(../../../../common/app/images/company/button_hover.png);}
.myinfo-span-edit{color:white}
.title p{padding-left: 38px;font-size: 14px;padding-top: 3px;cursor:pointer;}
.title p:hover{color: #ffffff;width: 222px;margin-top: 0px;background-color: #344a5d;}
.select{color: #ffffff;width: 222px;margin-top: 0px;background-color: #344a5d;}
.middle_right{margin-top:7px; width: 710px;min-height:770px; float:left; }
/*标题那一排*/
#myinfo_title{text-align:left;width:715px;display:block;background:#e2e2e2; }
.myinfo-title-left{width:550px;float:left;display:block;}
.myinfo-span-username{display:block;height:34px;float:left;line-height:30px;color:#788ac6;font-size:22px;font-weight:500;/*border-bottom:2px solid #A56B8A;*/}
.myinfo-span-state{color:#788ac6;font-size:13px;margin-right:10px;}
.myinfo-company-state{color:#7BAC87;font-weight:500;font-size:20px;
    margin-left:20px;margin-right: 20px;}

#content-left{margin-right:10px; width:230px; float:left;}
#content-middle{margin-right:10px; width:230px; float:left;}
#content-right{margin-top:20px; width:200px; max-height:150px; float:left;}
#content-right img{max-height:200px;max-width:200px;}
#content-down{width:750px;float:left;}
.content-info{margin:10px 0 0 0;font-size:15px;line-height:20px;color:#707070;}
.content-info-title{font-weight:700;}

/*===*/
/*资质认证 */
.content-qualification{width:715;height:auto;}
.content-qualification-title{width:150px;/*color:#446976;*/font-size:18px;margin-top:20px;  }
.content-qualification-title-line{margin: -10px 0 0 0;padding-left: 100px;}
.content-qualification-item{float:left; max-width:120px;height:100px;margin:10px 10px 0 0;}
/*资质认证 end */

.content-background1{background:#344a5d;}
.content-background2{background: #344a5d;}
.content-background3{background:#344a5d;}
.content-down-company{width:715px;height:40px;margin-top:20px;}
.content-down-company-title{margin-right:2px;width:30%;height:30px;float:left;font-size:18px;line-height:30px;cursor:pointer;text-align:center;padding:5px 10px;color:white;}
.content-down-company-title:hover{color:white;}
.cdct-selected1{background:url(../../../../common/app/images/company/bottom_bg.png) 0 0 no-repeat #5d6e7d; background-position:bottom center;}
.cdct-selected2{background:url(../../../../common/app/images/company/bottom_bg.png) 0 0 no-repeat #5d6e7d; background-position:bottom center;}
.cdct-selected3{background:url(../../../../common/app/images/company/bottom_bg.png) 0 0 no-repeat #5d6e7d; background-position:bottom center;}
/*文章列表*/
.jobinfo-textitem{height: auto;width: 715px;display: block;padding-bottom: 5px;border-bottom: 1px dashed #b6b6b6;color:#58587A;}
.phone-jobinfo-texitem-a{height: 30px;width:715px;margin-top: 12px; }
#jobinfo-container2 a{color:#677BC0;}
#jobinfo-container3 a{color:#677BC0;}
.jobinfo-texitem-time{float:left;height:20px;}
.jobinfo-textitem-p{clear:both;}
.jobinfo-textitem-read{width:715px;height:20px;}
.work_read_left{float:left;height:20px;width:300px;margin-left:30px;}
.work_read_right{float: right;height:20px;color:#C69AB1;}
.jobinfo-container-more{height:30px;margin-top:12px;}
.jobinfo-container-more p{float:right; font-size:1em;}

.content-down-company-content{width:715px;height:300px;}
.company-introduce{width:715px;height:auto;}
.company-introduce p{font-size:12px;}
.jobinfo-container{min-height:400px;background:#fff;float:left;  width:715px;}
.notice-hide{display:none;}


.myinfo_left_top{float:right;width:710px;height:35px;margin-top:5px;background:#344a5d;color:white;}
.myinfo_left_top a{color:white;display: block;height: 30px;}
.getjobfair-result{float:left; margin-left:40px;margin-top:0px;color:red;}
#xuanxiang-table{float:left;font-size:1em;margin-top:0px;}
.xuanxiang-title{float:left;font-size: 1.25em;margin-top: 0px;padding: 5px 10px;color: white;}
.xuanxiang-pubcorpmsg{float: right; font-size: 16px; margin: 5px 15px;}
.xuanxiang-pubcorpmsg-background{float:right;margin:0px 10px 0;;background:#5d6e7d;width:140px; height:35px;}
.middle-right{width:103px;height:100px;float:left;font-size:1.1em;}
.middle-right-item{width:inherit;height:40px;text-align:center;border:solid 1px black;}

.table-type{min-height:820px;}

.jobfair-hide{display:none;}
.jobfair-button-selected{background:url(../../../../common/app/images/company/bottom_bg.png) no-repeat #5d6e7d;color:#5d6e7d;
    background-position: center 26px;
}
.jobfair-table{text-align:center;width:90px;height:25px;float:left;font-size:1.25em;padding:5px 10px;margin-right:3px;}
.jobfair-table02{text-align:center;width:128px;height:25px;float:left;font-size:1.25em;padding:5px 10px;margin-right:3px;}
.jobfair-table:hover{background:url(../../../../common/app/images/company/bottom_bg.png)  no-repeat #5d6e7d;color:#5d6e7d;
    background-position: center 26px;
}

.table-type{min-height:50px;}
.cursor-hand{cursor:pointer;}

#mytable{width:710px; margin-top:1px;float:right;}
#mytable th {
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
    letter-spacing: 2px;
    text-align: center;
    /*padding: 1px 1px 1px 2px;*/
    background: #e2e2e2;
    color:#2d83b5;
}
#mytable td {
    border-right: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    background: #fff;
    font-size:12px;
    /*padding: 1px 1px 1px 2px;  */
    text-align: center;
}
#mytable th.spec {
    border-left: 1px solid #D9D9D9;
    border-top: 0;
    background: #fff;
}
.fairinfo_table tr{
    line-height: 30px;
    font-size:16px;
}
.submit{background:#344a5d;width:130px; font-size: 14px;height:30px;color:white;text-align:center;cursor:pointer;float:left;}
.submit:hover{backgoround:#5d6e7d;font-size: 14px;width:130px; height:30px;color:white;}
